<footer class="bg-primary-color text-white">
    <div class="container mx-auto px-4 py-6">
        <div class="grid grid-cols-1 sm:grid-cols-3 text-center">
            <div>
                <h3 class="font-bold">EMAIL US</h3>
                <p class="text-gray-400">info&#64;website.com</p>
            </div>
            <div>
                <h3 class="font-bold">CALL US</h3>
                <p class="text-gray-400">(123) 456-7890</p>
            </div>
            <div>
                <h3 class="font-bold">FIND US</h3>
                <p class="text-gray-400">12345 Fake ST NoWhere AB Country</p>
            </div>
        </div>
    </div>
    <div class=" text-center border-t border-gray-700 py-3">
        <p class="text-sm text-gray-500 mb-0 flex items-center justify-center">
            &copy;
            {{currentYear}} Made with <mat-icon class="text-amber-500">favorite</mat-icon>
            by <a href="http://devcrud.com" class="text-red-500 hover:underline">DevCRUD</a>
        </p>
    </div>
</footer>