<div
  class="navbar shadow-sm sticky top-0 z-50 backdrop-blur-lg bg-white/70 dark:bg-black/50 transition-colors duration-300 px-4 py-2">
  <!-- Left: Logo & Mobile Menu -->
  <div class="navbar-start flex items-center gap-4 flex-1">

    <!-- Mobile Menu Button -->
    <div class="dropdown lg:hidden" (click)="toggleMenu()">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <mat-icon class="text-secondary-color">{{toggleIconState}}</mat-icon>
      </div>

      <!-- Dropdown Content -->
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 z-50">
        @for (nar of narBarLinks; track $index) {
        <li>
          <a class="text-secondary-color font-bold hover:underline" [routerLink]="[nar.href]">
            {{nar.label}}
          </a>
        </li>
        }
      </ul>
    </div>

    <!-- Logo + App Name -->
    <a class="flex items-center gap-2" [routerLink]="['']">
      @if (logoSite) {
      <img class="h-10 w-auto" alt="Logo site" [src]="logoSite.url">
      }
      <h1 class="hidden sm:block text-xl font-bold text-secondary-color">{{appName}}</h1>
    </a>
  </div>

  <!-- Center: Desktop Nav + Cart -->
  <div class="navbar-center hidden lg:flex flex-1 justify-center">
    <ul class="menu menu-horizontal px-1 font-bold text-secondary-color space-x-4">
      @for (nar of narBarLinks; track $index) {
      <li>
        <a class="hover:underline" [routerLink]="[nar.href]">
          {{nar.label}}
        </a>
      </li>
      }
    </ul>

    <!-- Carrito de compras -->
    <a class="relative cursor-pointer ml-6" [routerLink]="ordersRouteConfig.children.checkout.url">
      <mat-icon class="text-secondary-color">shopping_cart</mat-icon>
    </a>
  </div>

  <!-- Right: Login & Location -->
  <div class="navbar-end flex items-center gap-4">
    <app-button-is-logged [isAuthenticated]="isAuthenticated()"></app-button-is-logged>
    <app-view-location class="hidden lg:block"></app-view-location>
  </div>
</div>