@let menuLocal = menu();
@defer (when menuLocal) {
  @if (menuLocal) {
    @if (menuLocal.data.length > 0) {
      @for (menu of menuLocal.data; track menu.id) {
        <section class="bg-cover bg-center py-16" style="background-image: url('ruta/a/tu-imagen.jpg')">
          <div class="container mx-auto px-4">
          <h6 class="text-center text-lg text-gray-700 uppercase tracking-wider">{{ menu.name }}</h6>
          <h3 class="text-center text-3xl md:text-4xl font-bold mb-12 text-gray-900">{{ menu.name }}</h3>
          <div class="bg-gray-100 rounded-lg shadow-md">
            <div class="p-6 text-center">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-left">
                @if (menu.products && menu.products.length > 0) {
                    @for (product of menu.products; track product.id) {
                        <app-card-products [product]="product"></app-card-products>
                    }
                } @else {
                    <div class="row h-10">
                        <div class="col-span-12">
                            <h6 class="text-center text-lg text-gray-700 uppercase tracking-wider">No hay un menu</h6>
                        </div>
                    </div>
                }
              </div>
            </div>
          </div>
          </div>
        </section>
      }
    }
  }
} @placeholder {
  <div class="row h-10"></div>
}
