<!-- component -->
@let productLocal = product();
@defer (when productLocal) {
@if (productLocal) {
<div class="flex min-h-screen items-center justify-center bg-primary-color">
    <div class="flex font-sans text-white max-w-xl">
        <div class="flex-none w-48 relative">
            <img [src]="productLocal?.images?.[0]?.url" alt="" class="absolute inset-0 w-full h-full object-cover"
                loading="lazy"
                alt="" [style]="'view-transition-name: img-product;'" />
        </div>
        <form class="flex-auto p-6">
            <div class="flex flex-wrap">
                <h1 class="flex-auto text-xl font-semibold text-white">
                    {{productLocal?.name}}
                </h1>
                <div class="text-lg font-semibold text-black-500">
                    {{productLocal?.price?.price || '$0.00'}}
                </div>
            </div>
            <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
                <p>
                    {{productLocal?.description}}
                </p>
            </div>
            <div class="flex space-x-4 mb-6 text-sm font-medium">
                <div class="flex-auto flex space-x-4">
                    <button class="h-10 px-6 font-semibold rounded-md border border-balck-800 text-gray-100"
                        type="button">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </div>
                <button
                    class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200"
                    type="button" aria-label="Favorites">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>

            <p class="text-sm text-gray-300 mt-2 flex items-center justify-center">
                <span class="font-bold">opinions</span>
                <mat-icon>arrow_drop_down</mat-icon>
            </p>
        </form>
    </div>
</div>
}
} @placeholder {
<div class="row h-10"></div>
}


<div class="container mx-auto px-4 py-10 flex flex-col items-center justify-center gap-3">

    <div class="overflow-hidden border border-gray-400 rounded-xl text-white max-w-xl">
        <div class="relative p-6 ">
            <figure class="relative z-10">
                <blockquote class="p-6 text-lg leading-relaxed">
                    <p>Wind-ui, is probably one of the best libraries I've came across. Good looking, easy to use and above
                        all super accessible.</p>
                </blockquote>
                <figcaption class="flex flex-col items-start gap-2 p-6 pt-0 text-sm text-secondary-color">
                    <span class="flex gap-1 text-amber-400" role="img" aria-label="Rating: 3 out of 5 stars">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </span>
                    <div class="flex items-center gap-4 pt-4 text-sm text-secondary-color">
                        <img src="https://i.pravatar.cc/40?img=11" alt="user name" title="user name" width="48" height="48"
                            class="max-w-full rounded-full shrink-0" />
                        <div class="flex flex-col gap-1">
                            <span class="font-bold uppercase">Bill Gates</span>
                            <cite class="not-italic"><a href="http://www.microsoft.com">CEO, Microsoft</a></cite>
                        </div>
                    </div>
                </figcaption>
            </figure>

        </div>
    </div>

</div>
